
@{
    ViewBag.Title = "pdf";
}

<h2>pdf</h2>
@using (Html.BeginForm("pdf", "Facture", FormMethod.Post))
{
    <div class="form-group">
        <label for="exampleInputEmail1">nom</label>
        <input type="text" class="form-control" name="nom" placeholder="nom">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">nom</label>
        <input type="text" class="form-control" name="prenom" placeholder="prenom">


    </div>
    <div class="form-group">
        <label for="titreFilm">Film</label>
        <input type="text" class="form-control" name="titreFilm" placeholder="titre">


    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

}


